@(contentForm: Form[Content], contents: Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {
    
    <h1>Add a content</h1>
    
    @form(routes.HomeController.save) {
        
        <fieldset>
            @CSRF.formField
            @inputText(contentForm("title"), Symbol("_label") -> "제목", Symbol("_help") -> "")
            @inputText(contentForm("content"), Symbol("_label") -> "내용", Symbol("_help") -> "")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this content" class="btn primary"> or
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
}
