@(content: Html)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>Contents database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
    </head>
    <body>
        <header class="topbar">
            <h1 class="fill" id="header-title">
                <a href="@routes.HomeController.index">
                    Scala_Play_Board_Practice
                </a>
            </h1>
        </header>
        <section id="main">
            @content
        </section>
    </body>
</html>
